@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("grid.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  max-width: 350px;
  border: 1px solid #000;
  width: 100%;
  border-radius: 30px;
  padding: 50px 30px 50px;
  background: #8C635B;
  box-shadow: 50px 30px 10px rgba(60, 58, 58, 0.911);
}
.operator {
  color: #ef530b;
}
.display {
  height: 80px;
  width: 100%;
  
  border: 1px solid #000;
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}

